<!DOCTYPE html>
<div class="navbar">
  <a href="home.html">home</a>
  <a href="login.html">sign in</a>
  <a href="dashboard">view profile</a>
</div>
<select name="type" id="type">
    <option>member</option>
    <option>trainer</option>
    <option>admin</option>
</select>
    <div style="padding-top: 5px">
      <input placeholder="email" type="text" name="email" id="email" />
      <input placeholder="password" type="text" name="password" id="password" />
      
      <input type="button" name="sign in" value="sign in" id="sign in" />
      <input type="button" name="sign out" value="sign out" id="sign out" />
      <form action="/register.html">
        <input type="submit" value="go to register page" />
      </form>
    
    </div>
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>
