<!DOCTYPE html>
<div class="navbar">
  <a href="home">home</a>
  <a href="login">sign in</a>
  <a href="dashboard">view profile</a>
</div>

    <div style="padding-top: 50px">
      <input placeholder="first name" type="text" name="firstname" id="firstname" />
      <input placeholder="last name" type="text" name="lastname" id="lastname" />
      <input placeholder="email" type="text" name="email" id="email" />
      <input placeholder="password" type="text" name="password" id="password" />
      <input placeholder="height" type="text" name="height" id="height" />
      <input placeholder="weight" type="weight" name="weight" id="weight" />

      
      <input type="button" name="register" value="register" id="register" />
    </div>
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>
